.banner {
  position: relative;
  padding-top: 106px;
  padding-bottom: 158px;
}

@media screen and (max-width: 1260px) {
  .banner {
    padding-top: 70px;
    padding-bottom: 93px;
  }
}

@media screen and (max-width: 750px) {
  .banner {
    padding-top: 55px;
    padding-bottom: 14px;
  }
}

.banner__title-accent {
  color: #6F66D6;
}

.banner__text-column {
  max-width: calc(100% - 593px);
}

@media screen and (max-width: 1260px) {
  .banner__text-column {
    max-width: calc(100% - 300px);
  }
}

@media screen and (max-width: 750px) {
  .banner__text-column {
    max-width: none;
  }
}

.banner__title {
  color: #3C3C3C;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 65px;
  margin: 0 0 32px;
}

@media screen and (max-width: 1260px) {
  .banner__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 17px;
  }
}


@media screen and (max-width: 750px) {
  .banner__title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 12px;
  }
}

.banner__subtitle {
  color: #3C3C3C;
  max-width: 400px;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 45px;
}

@media screen and (max-width: 1260px) {
  .banner__subtitle {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 750px) {
  .banner__subtitle {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.banner__img-column {
  position: absolute;
  top: -23px;
  right: 59px;
  z-index: 2;
  margin-top: 61px;
}

@media screen and (max-width: 1260px) {
  .banner__img-column {
    top: -35px;
    right: -71px;
  }
}

@media screen and (max-width: 750px) {
  .banner__img-column {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin-top: 33px;
  }
}


.banner__img-column:before {
  content: '';
  top: 59px;
  left: 88px;
  width: 391px;
  height: 391px;
  position: absolute;
  background: #83D7C6;
  filter: blur(100px);
  z-index: 1;
}

@media screen and (max-width: 1260px) {
  .banner__img-column:before {
    top: 80px;
    filter: blur(70px);
    left: 60px;
    width: 330px;
    height: 330px;
  }
}

@media screen and (max-width: 750px) {
  .banner__img-column:before {
    content: initial;
  }
}


.banner__img {
  position: relative;
  z-index: 2;
  width: 605px;
  height: 605px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1260px) {
  .banner__img {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 750px) {
  .banner__img {
    width: 100%;
    height: auto;
    filter: initial;
  }
}

.banner__logo {
  border-radius: 50%;
  position: absolute;
  bottom: 84px;
  left: 96px;
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FCFCFC;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

@media screen and (max-width: 1260px) {
  .banner__logo {
    width: 61px;
    height: 61px;
    top: 59px;
    left: 45px;
  }
  
  .banner__logo svg {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 750px) {
  .banner__logo {
    width: 51px;
    height: 51px;
    top: calc(19vw - 23px);
    left: calc(14vw - 12px);
  }
  
  .banner__logo svg {
    width: 22px;
    height: 22px;
  }
}

.banner__btn {
  position: relative;
}

.banner__btn:after {
  position: absolute;
  content: '';
  top: 17px;
  right: -138px;
  width: 111px;
  height: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='110' height='130' viewBox='0 0 110 130' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_2048_3959)'%3E%3Cpath d='M89 91.2404L89.9962 91.3271L89 91.2404ZM89 76.2404L88.01 76.3818L88.0197 76.4495L88.0385 76.5151L89 76.2404ZM52.5 67.2404L53.1441 68.0053L52.5 67.2404ZM105.5 54.2404L106.484 54.0601L105.5 54.2404ZM2.22113 10.1133C1.87474 10.5434 1.94266 11.1729 2.37282 11.5193L9.38268 17.1639C9.81284 17.5103 10.4423 17.4424 10.7887 17.0122C11.1351 16.5821 11.0672 15.9526 10.637 15.6062L4.40605 10.5887L9.42351 4.35776C9.76989 3.9276 9.70197 3.29808 9.27181 2.9517C8.84165 2.60532 8.21214 2.67323 7.86576 3.10339L2.22113 10.1133ZM72.2355 127.918C75.2176 124.68 79.3448 118.996 82.8767 112.419C86.4039 105.851 89.3903 98.2957 89.9962 91.3271L88.0038 91.1538C87.4316 97.734 84.5846 105.012 81.1147 111.473C77.6494 117.926 73.6157 123.467 70.7645 126.563L72.2355 127.918ZM89.9962 91.3271C90.4994 85.5411 90.5016 81.7431 90.3735 79.3739C90.3095 78.1889 90.2127 77.359 90.129 76.8149C90.0871 76.5428 90.0485 76.3417 90.0187 76.2032C90.0038 76.1339 89.9911 76.0802 89.9814 76.041C89.9765 76.0214 89.9723 76.0054 89.969 75.9929C89.9673 75.9866 89.9659 75.9813 89.9646 75.9767C89.964 75.9745 89.9634 75.9724 89.9629 75.9706C89.9626 75.9697 89.9624 75.9688 89.9622 75.968C89.9621 75.9676 89.9619 75.967 89.9618 75.9668C89.9617 75.9662 89.9615 75.9657 89 76.2404C88.0385 76.5151 88.0383 76.5146 88.0382 76.5141C88.0381 76.514 88.038 76.5135 88.0379 76.5132C88.0378 76.5126 88.0376 76.512 88.0375 76.5116C88.0372 76.5106 88.037 76.5098 88.0368 76.5093C88.0365 76.5082 88.0365 76.508 88.0367 76.5087C88.0371 76.5102 88.0384 76.5153 88.0406 76.5241C88.045 76.5418 88.0528 76.5745 88.0633 76.6234C88.0843 76.7211 88.116 76.8834 88.1523 77.119C88.2248 77.5906 88.3155 78.3544 88.3765 79.4819C88.4984 81.7378 88.5006 85.4397 88.0038 91.1538L89.9962 91.3271ZM89.99 76.099C89.7018 74.0817 88.2682 71.2518 85.8446 68.6468C83.3963 66.0151 79.8642 63.5305 75.2631 62.2757L74.7369 64.2052C78.9358 65.3503 82.1537 67.6157 84.3804 70.0091C86.6318 72.4291 87.7982 74.8991 88.01 76.3818L89.99 76.099ZM75.2631 62.2757C70.6806 61.0259 65.9292 61.1608 61.7981 62.0503C57.6811 62.9369 54.0919 64.5925 51.8559 66.4755L53.1441 68.0053C55.0643 66.3883 58.3252 64.844 62.2191 64.0055C66.0989 63.1701 70.5194 63.055 74.7369 64.2052L75.2631 62.2757ZM51.8559 66.4755C48.5535 69.2564 42 77.3452 42 87.7404H44C44 78.1357 50.1131 70.5578 53.1441 68.0053L51.8559 66.4755ZM42 87.7404C42 94.2781 44.8867 100.034 50.2094 102.931C55.5316 105.828 63.0229 105.725 71.9574 101.13L71.0426 99.3511C62.4771 103.756 55.7184 103.653 51.1656 101.175C46.6133 98.6968 44 93.7027 44 87.7404H42ZM71.9574 101.13C76.2537 98.9202 81.0164 96.74 85.443 94.3552C89.9129 91.9471 94.2196 89.242 97.8124 85.8417C101.415 82.4324 104.302 78.3218 105.923 73.116C107.544 67.9149 107.881 61.6841 106.484 54.0601L104.516 54.4208C105.869 61.7968 105.519 67.691 104.014 72.5211C102.511 77.3465 99.8353 81.1735 96.4376 84.3891C93.0304 87.6138 88.8996 90.2212 84.4945 92.5944C80.0461 94.9909 75.4963 97.0607 71.0426 99.3511L71.9574 101.13ZM106.484 54.0601C101.454 26.6247 75.1883 15.6381 50.741 11.4423C38.4626 9.33504 26.5051 8.91195 17.6248 9.01394C13.1825 9.06496 9.50509 9.24745 6.93599 9.41742C5.65133 9.50241 4.64349 9.58429 3.95537 9.64507C3.61131 9.67546 3.34715 9.70058 3.16827 9.71819C3.07882 9.72699 3.01069 9.73391 2.96455 9.73867C2.94148 9.74106 2.9239 9.7429 2.9119 9.74416C2.90591 9.7448 2.9013 9.74529 2.8981 9.74563C2.89651 9.7458 2.89516 9.74594 2.89436 9.74603C2.89337 9.74613 2.89274 9.7462 3 10.7404C3.10726 11.7347 3.10733 11.7347 3.10776 11.7346C3.10837 11.7345 3.10914 11.7345 3.11036 11.7343C3.1128 11.7341 3.11664 11.7337 3.12187 11.7331C3.13234 11.732 3.14837 11.7303 3.16989 11.7281C3.21293 11.7237 3.2779 11.7171 3.36413 11.7086C3.53661 11.6916 3.79413 11.6671 4.13136 11.6373C4.80582 11.5777 5.79898 11.497 7.06802 11.4131C9.60631 11.2451 13.247 11.0643 17.6478 11.0138C26.4538 10.9127 38.2822 11.3333 50.4027 13.4135C74.7533 17.5927 99.7379 28.3562 104.516 54.4208L106.484 54.0601Z' fill='url(%23paint0_linear_2048_3959)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2048_3959' x='0' y='0.730591' width='109.359' height='129.187' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='1' result='effect1_foregroundBlur_2048_3959'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2048_3959' x1='54.6801' y1='10' x2='106' y2='162.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2383D7C6'/%3E%3Cstop offset='1' stop-color='%23786AE0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media screen and (max-width: 1260px) {
  .banner__btn:after {
    width: 83px;
    height: 83px;
    right: -105px;
    top: 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='68' height='83' viewBox='0 0 68 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_2433_3702)'%3E%3Cpath d='M54.5866 58.5057L55.5828 58.5927L54.5866 58.5057ZM54.5866 49.5498L53.5967 49.6918L53.6065 49.7597L53.6254 49.8257L54.5866 49.5498ZM32.6923 44.1762L33.3347 44.9426L32.6923 44.1762ZM64.484 36.4144L65.4675 36.2332L64.484 36.4144ZM2.22144 9.81452C1.87484 10.2445 1.94245 10.8741 2.37243 11.2206L9.3795 16.8687C9.80949 17.2153 10.439 17.1477 10.7856 16.7178C11.1322 16.2878 11.0646 15.6582 10.6346 15.3116L4.40613 10.2911L9.42666 4.06259C9.77326 3.6326 9.70565 3.00305 9.27566 2.65646C8.84568 2.30986 8.21613 2.37746 7.86953 2.80745L2.22144 9.81452ZM44.8233 80.6792C46.6384 78.7176 49.1331 75.295 51.2652 71.3432C53.3926 67.4001 55.2124 62.8326 55.5828 58.5927L53.5904 58.4187C53.2541 62.2684 51.5748 66.5573 49.505 70.3936C47.4399 74.2212 45.0393 77.501 43.3554 79.3208L44.8233 80.6792ZM55.5828 58.5927C55.8859 55.1235 55.8881 52.8362 55.8101 51.3987C55.771 50.6794 55.7117 50.1704 55.6592 49.8308C55.633 49.6609 55.6083 49.533 55.5887 49.4419C55.5789 49.3964 55.5703 49.3601 55.5633 49.3323C55.5598 49.3184 55.5568 49.3066 55.5542 49.2969C55.5529 49.2921 55.5517 49.2877 55.5506 49.2839C55.5501 49.2819 55.5496 49.2802 55.5491 49.2785C55.5489 49.2776 55.5486 49.2768 55.5484 49.2761C55.5483 49.2757 55.5482 49.2751 55.5481 49.2749C55.5479 49.2744 55.5478 49.2738 54.5866 49.5498C53.6254 49.8257 53.6253 49.8251 53.6251 49.8246C53.6251 49.8245 53.6249 49.8239 53.6248 49.8236C53.6247 49.823 53.6245 49.8224 53.6243 49.8218C53.624 49.8206 53.6237 49.8196 53.6235 49.8187C53.623 49.8169 53.6226 49.8157 53.6224 49.815C53.6221 49.8136 53.6223 49.8144 53.6231 49.8175C53.6246 49.8237 53.6283 49.8389 53.6337 49.864C53.6445 49.9141 53.6621 50.003 53.6827 50.1363C53.7239 50.4031 53.7771 50.8457 53.813 51.5071C53.8849 52.831 53.8872 55.0216 53.5904 58.4187L55.5828 58.5927ZM55.5765 49.4077C55.388 48.0944 54.4735 46.332 52.9853 44.7397C51.4719 43.1206 49.2905 41.5937 46.4508 40.8229L45.9268 42.753C48.3657 43.4151 50.2332 44.7243 51.5241 46.1054C52.8402 47.5134 53.4853 48.9153 53.5967 49.6918L55.5765 49.4077ZM46.4508 40.8229C43.6297 40.057 40.7141 40.1415 38.1864 40.6833C35.6728 41.222 33.4545 42.2325 32.0499 43.4098L33.3347 44.9426C34.4232 44.0301 36.3138 43.13 38.6055 42.6388C40.8831 42.1507 43.4692 42.0859 45.9268 42.753L46.4508 40.8229ZM32.0499 43.4098C30.015 45.1155 25.9938 50.0482 25.9938 56.416H27.9938C27.9938 50.8425 31.5706 46.4212 33.3347 44.9426L32.0499 43.4098ZM25.9938 56.416C25.9938 60.4376 27.7818 64.0274 31.1287 65.8407C34.4739 67.653 39.1124 67.5504 44.545 64.7694L43.6337 62.9891C38.569 65.5817 34.6597 65.4791 32.0814 64.0822C29.5049 62.6863 27.9938 59.8577 27.9938 56.416H25.9938ZM44.545 64.7694C47.0908 63.4662 49.9901 62.1426 52.6411 60.7211C55.3351 59.2764 57.9537 57.6419 60.146 55.5766C62.3479 53.5023 64.1227 50.9909 65.1197 47.8054C66.1153 44.6245 66.3152 40.8358 65.4675 36.2332L63.5006 36.5955C64.3024 40.9489 64.09 44.3996 63.211 47.208C62.3335 50.0118 60.7716 52.2395 58.7746 54.1208C56.7681 56.0111 54.3255 57.5484 51.6959 58.9585C49.0233 60.3916 46.3365 61.6055 43.6337 62.9891L44.545 64.7694ZM65.4675 36.2332C62.3993 19.575 46.3853 12.9719 31.7041 10.4639C24.3077 9.20037 17.1095 8.94728 11.7681 9.00835C9.09519 9.0389 6.88202 9.1482 5.33487 9.25008C4.56118 9.30103 3.95373 9.35015 3.53827 9.38667C3.33053 9.40494 3.17077 9.42006 3.06219 9.4307C3.00791 9.43601 2.96641 9.44021 2.93812 9.44312C2.92397 9.44457 2.91313 9.4457 2.90563 9.44649C2.90188 9.44688 2.89897 9.44719 2.8969 9.44741C2.89586 9.44752 2.89495 9.44762 2.89443 9.44767C2.89372 9.44775 2.89323 9.4478 3 10.4421C3.10677 11.4364 3.1067 11.4364 3.10684 11.4364C3.10717 11.4363 3.10752 11.4363 3.10818 11.4362C3.10949 11.4361 3.11165 11.4359 3.11463 11.4355C3.12061 11.4349 3.12992 11.4339 3.14252 11.4326C3.16772 11.4301 3.20607 11.4262 3.25716 11.4212C3.35935 11.4112 3.51251 11.3967 3.71344 11.379C4.11532 11.3437 4.70815 11.2957 5.46629 11.2458C6.98277 11.1459 9.15936 11.0383 11.7909 11.0082C17.0585 10.948 24.1282 11.1987 31.3673 12.4353C45.9573 14.9278 60.6853 21.3108 63.5006 36.5955L65.4675 36.2332Z' fill='url(%23paint0_linear_2433_3702)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2433_3702' x='0' y='0.434937' width='68' height='82.2443' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='1' result='effect1_foregroundBlur_2433_3702'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2433_3702' x1='34' y1='10' x2='64.5279' y2='101.138' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2383D7C6'/%3E%3Cstop offset='1' stop-color='%23786AE0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}
@media screen and (max-width: 750px) {
  .banner__btn:after {
    right: -98px;
    top: -1px;
  }
}

.banner__shield {
  position: absolute;
  bottom: 88px;
  right: 27px;
  z-index: 3;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  padding: 18px 70px 13px 30px;
}

@media screen and (max-width: 1260px) {
  .banner__shield {
    padding: 7px 27px 6px 23px;
    bottom: 62px;
    right: 76px;
  }
}

@media screen and (max-width: 750px) {
  .banner__shield {
    padding: 6px 34px 7px 26px;
    bottom: 44px;
    right: 2px;
  }
}

.banner__shield span {
  font-weight: 600;
}

.banner__shield-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #7543ED;
}

@media screen and (max-width: 1260px) {
  .banner__shield-title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 750px) {
  .banner__shield-title {
    font-size: 14px;
    line-height: 20px
  }
}

.banner__shield-subtitle {
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

@media screen and (max-width: 1260px) {
  .banner__shield-subtitle {
    font-size: 15px;
    line-height: 22px;
  }
}
@media screen and (max-width: 750px) {
  .banner__shield-subtitle {
    font-size: 13px;
    line-height: 18px;
  }
}
