.education {
  position: relative;
  z-index: 2;
  padding-bottom: 156px;
}

@media screen and (max-width: 1260px) {
  .education {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 750px) {
  .education {
    padding-bottom: 0px;
  }
}

.education * {
  z-index: 2;
  position: relative;
}

.education__bg {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: -279px;
  width: 950px;
  height: 685px;
  background-image: url(./img/bootcamp/education.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1260px) {
  .education__bg {
    position: relative;
    top: 0;
    right: 0;
    width: 922px;
    height: 600px;
  }
}

@media screen and (max-width: 750px) {
  .education__bg {
    width: 207vw;
    height: 118vw;
    margin-left: -34%;
    margin-top: 30px;
  }
}


.education__title {
  position: relative;
  margin: 0 0 71px;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
}

@media screen and (max-width: 1260px) {
  .education__title {
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 750px) {
  .education__title {
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 40px;
  }
}


.education__item {
  display: flex;
  margin-bottom: 34px;
}

@media screen and (max-width: 750px) {
  .education__item {
    display: block;
    margin-bottom: 34px;
  }
  
  .education__item:last-child {
    margin: 0;
  }
}

.education__number {
  height: fit-content;
  width: fit-content;
  padding: 14px 36px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(182.9deg, #7543ED 14.16%, #45D6D6 133.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 31px;
  margin-top: 3px;
}

@media screen and (max-width: 750px) {
  .education__number {
    display: block;
    height: fit-content;
    width: fit-content;
    padding: 10px 41px;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(182.9deg, #7543ED 14.16%, #45D6D6 133.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
  }
}


.education__item-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 15px;
}

@media screen and (max-width: 1260px) {
  .education__item-title {
    font-size: 28px;
    line-height: 42px;
  }
}

@media screen and (max-width: 750px) {
  .education__item-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}


.education__item:first-of-type .education__item-title {
  max-width: 452px;
}

.education__item:nth-of-type(2) .education__item-title {
  max-width: 328px;
}

.education__item:nth-of-type(3) .education__item-title {
  max-width: 288px;
}

.education__text {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  color: rgba(51, 44, 41, 0.65);
}


.education__item:first-of-type .education__text {
  max-width: 288px;
}

.education__item:nth-of-type(2) .education__text {
  max-width: 278px;
}

.education__item:nth-of-type(3) .education__text {
  max-width: 314px;
}

@media screen and (max-width: 750px) {
  .education__text {
    font-size: 18px;
    line-height: 30px;
  }
}

.education__btn {
  margin: 59px auto auto;
}

@media screen and (max-width: 1260px) {
  .education__btn.btn {
    display: none;
  }
}

