.about.container {
  position: relative;
  margin: auto;
  max-width: 1360px;
  padding: 150px 30px 205px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 1260px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.about__bg {
  width: 635px;
  height: 419px;
  background-repeat: no-repeat;
  background-image: url(/img/bootcamp/about.png);
  box-sizing: border-box;
  background-size: contain;
  box-shadow: 0 16px 32px rgba(92, 97, 116, 0.1);
  border-radius: 8px;
}

.about__column {
  margin-top: 8px;
  position: relative;
  z-index: 2;
  width: 570px;
  margin-left: auto;
}
@media screen and (max-width: 1260px) {
  .about__column {
    max-width: none;
    margin: 0 0 40px;
  }
}
.about__title {
  width: fit-content;
  margin: 0 0 58px;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
}

.about__icon {
  position: absolute;
  top: 0;
  right: 37px;
  width: 109px;
  height: 54px;
}

.about__subtitle {
  margin: 0;
  max-width: 500px;
  font-size: 20px;
  line-height: 37px;
}

