.audience {
  padding-top: 168px;
  padding-bottom: 121px;
}

@media screen and (max-width: 1260px) {
  .audience {
    padding-top: 125px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 750px) {
  .audience {
    padding-top: 60px;
    padding-bottom: 25px;
  }
}

.audience__title {
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  color: #3C4758;
  margin: 0 0 99px;
}

@media screen and (max-width: 1260px) {
  .audience__title {
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 750px) {
  .audience__title {
    font-size: 25px;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
  }
}

.audience__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1260px) {
  .audience__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .audience__list {
    margin: 0;
    display: block;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.audience__item {
  max-width: 500px;
  width: fit-content;
  align-items: center;
  text-align: center;
  margin: 0 38px 19px 0;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .audience__item {
    display: block;
    margin: 0;
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .audience__item {
    display: block;
    min-width: 100%;
    margin: 0 auto 50px;
  }
}

.audience__img {
  width: 180px;
  height: 180px;
  margin: auto auto 46px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1260px) {
  .audience__img {
    width: 129px;
    height: 129px;
    margin-bottom: 25px;
    margin-left: 0;
  }
}

@media screen and (max-width: 750px) {
  .audience__img {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
  }
}


.audience__item-text-wrapper {
  height: fit-content;
  margin-bottom: 5px;
}

@media screen and (max-width: 1260px) {
  .audience__item-text-wrapper {
    width: 246px;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 750px) {
  .audience__item-text-wrapper {
    width: auto;
    margin: 0;
  }
}

.audience__item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 10px;
  color: #6708C4;
}

@media screen and (max-width: 1260px) {
  .audience__item-title {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (max-width: 750px) {
  .audience__item-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }
}

.audience__item-text {
  margin: auto;
  max-width: 246px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(51, 44, 41, 0.65);
}

@media screen and (max-width: 1260px) {
  .audience__item-text {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (max-width: 750px) {
  .audience__item-text {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }
}
